#SelfPortrait {
    max-width: 200px;
    height: 200px;
}

.card {
    float: left;
}

.img-thumbnail {
    width: 200px;
}

.margintop {
    padding-top: 20px !important;
}

html, body {
    height: 100%;
}
  
#wrap {
    min-height: 100%;
}
  
#main {
    overflow:auto;
    padding-bottom:150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #e9ecf0;
}

.footer h2 {
    font-size: 20px;
}