body {
    background-color: #343a40;
}

#SelfPortrait {
    max-width: 200px;
    height: 200px;
}

.card {
    float: left;
}

.img-thumbnail {
    width: 200px;
    margin-bottom: 30px;
}

.margintop {
    padding-top: 20px !important;
}

html, body {
    height: 100%;
}
  
#wrap {
    min-height: 100%;
}
  
#main {
    overflow:auto;
    padding-bottom:150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #e9ecf0;
    color: grey;
}

.footer h2 {
    font-size: 20px;
}

.image-fluid {
    margin-top: 20px;
}

#h4 {
    color: gray;
}

#h1 {
    color: white;
}

.p {
    color: white;
}
.form-label {
    color: white;
}
.display-4 {
    color: grey;
}